<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>727BCB731F5FCD1A00BD76BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727BCB8C1F5FCD1A00BD76BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727BCB971F5FCD1A00BD76BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
