<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ModelTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7216BEF51F5E8E1B001A41E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7216BF0E1F5E8E1B001A41E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7216BF191F5E8E1B001A41E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
