<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D154F1F71DFE3FC8001AAD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D154F2101DFE3FC9001AAD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D154F21B1DFE3FC9001AAD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
