<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS10SwiftCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D11C431B1DC194E00064B1B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D11C432F1DC194E00064B1B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D11C433A1DC194E00064B1B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
